.newNote {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.newNotePopupBody {
    background: white;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    animation: popupIn 0.3s ease;
    margin: auto;
    position: relative;
    top: 20%;
}

.newNotePopupBody h1 {
    text-align: left;
}

.flexBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 20px;
}

form {
    height: 100%;
}

.flexBox input {
    width: 100%;
    height: 40px;
    margin: 15px auto;
    border-radius: 10px;
    text-align: left;
}

.flexBox textarea {
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}

.flexLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#closePopup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
}

@keyframes popupIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

button {
    border: 2px solid #008CBA;
    border-radius: 10px;
    transition-duration: 0.2s;
    padding: 8px;
}

button:hover {
    background-color: #008CBA;
    color: white;
}