<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add_2"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<h1 style="padding: 1em">Tus notas</h1>

<div id="noteListContainer">
    <div id="createNoteButton" class="note" onclick="loadNewNotePopup()">
        <i class="material-symbols-outlined" style="font-size: 48px;">add_2</i>
    </div>
    <div th:each="note : ${notes}" class="note" th:onclick="'showNote(' + ${note.id} + ')'">
            <div class="titleBar" >
                <span th:text="${note.title}"></span>
                <div class="titleBarButtons">
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" th:value="${note.getId()}">
                        <button class="deleteNoteButton"><i class="material-icons" style="font-size: 20px">delete</i>
                        </button>
                    </form>
                </div>
            </div>
            <span th:text="${note.content}" class="noteContent"></span>
    </div>
</div>

<div id="newNotePopup" class="newNote"></div>
<div id="showNotePopup" class="newNote"></div>
</body>
</html>