<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>

<button id="loadFragmento" onclick="loadFragment();">New note</button>

<div>

</div>

<h1>Tus notas</h1>
<ul>
    <li th:each="note : ${notes}">
        <strong th:text="${note.title}"></strong>
        <span th:text="${note.content}"></span>
    </li>
</ul>
<div id="newNotePopup" class="newNote"></div>
</body>
</html>